.tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags-list {
  display: flex;
  gap: 10px;
}

.tag {
  color: #ffffff;
  background: #ff6060;
  border-radius: 10px;
  padding: 10px;
}

.tag p {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}