<<<<<<< HEAD
.accueil {
  padding: 0;

  @media (max-width: 375px) {
    padding: 0;
  }
}
=======
.accueil {
  padding: 0;

  @media (max-width: 375px) {
    padding: 0;
  }
}
>>>>>>> 0618f01408ec03809c450b68336ce8eccee9970c
