.App {
  padding: 50px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-logo {
  height: auto;
  width: auto;
}

.App-nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 70px;
  list-style: none;
}
