.logement {
  display: flex;
  flex-direction: column;
}

.carte-logement img {
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
}

.logement-description {
  width: 100%;
}

.logement-titre {
  display: flex;
  justify-content: space-between;
}

.logement-titre h1 {
  font-size: 36px;
  font-weight: 500;
  color: #ff6060;
  margin: 0;
  margin-bottom: 8px;
}

.logement-text {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  margin: 0;
}

// Le code css ci-dessous est pour sa mise en forme dans Logement.jsx //

.logement .collapse-logements {
  display: flex;
  gap: 100px;
  margin-top: 25px;
}

.logement .collapse-logements i {
  position: absolute;
  right: 10px;
  transition: transform 0.3s ease;
}

.logement .collapse-logements i.rotate {
  transform: rotate(180deg);
}