.logement {
  width: 100%;
}

.carte-logement img {
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
}

.logement-description {
  display: flex;
  flex-direction: column;

  @media (max-width: 375px) {
    flex-direction: column;
  }
}

.logement-titre {
  display: flex;
  justify-content: space-between;
}

.logement-titre h1 {
  font-size: 36px;
  font-weight: 500;
  color: #ff6060;
  margin: 0;
  margin-bottom: 8px;

  @media (max-width: 375px) {
    font-size: 18px;
  }
}

.logement-text {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  margin: 0;

  @media (max-width: 375px) {
    font-size: 14px;
  }
}

// Le code css ci-dessous est pour sa mise en forme dans Logement.jsx //

.logement .collapse-logements {
  display: flex;
  gap: 100px;
  margin-top: 25px;

  @media (max-width: 375px) {
    flex-direction: column;
    gap: 20px;
  }
}

.logement .collapse-logements i {
  position: absolute;
  right: 10px;
  transition: transform 0.3s ease;
}

.logement .collapse-logements i.rotate {
  transform: rotate(180deg);
}
