.cards-gallery {
  display: grid;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 25px;
  padding: 30px;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));

  @media (max-width: 375px) {
    background-color: transparent;
    margin: 0 20px;
    padding: 0;
  }
}

.cards-list {
  position: relative;
  height: 340px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.cards-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-list-titre {
  position: absolute;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  bottom: 10px;
  left: 10px;
}
