.cards-gallery {
  display: grid;
  background-color: #f6f6f6;
  padding: 30px;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 340px;
  width: 100%;
  background: red;
  border-radius: 10px;
}

.cards {
  border-radius: 10px;
}
