<<<<<<< HEAD
.rating {
  display: flex;

  @media (max-width: 375px) {
    flex-direction: row;
  }
}

.starActive {
  color: #ff6060;
  height: 24px;
  width: 24px;

  @media (max-width: 375px) {
    height: 18px;
  }
}

.starInactive {
  color: #e3e3e3;
  height: 24px;
  width: 24px;

  @media (max-width: 375px) {
    height: 18px;
  }
}
=======
.rating {
  display: flex;

  @media (max-width: 375px) {
    flex-direction: row;
  }
}

.starActive {
  color: #ff6060;
  height: 24px;
  width: 24px;

  @media (max-width: 375px) {
    height: 18px;
  }
}

.starInactive {
  color: #e3e3e3;
  height: 24px;
  width: 24px;

  @media (max-width: 375px) {
    height: 18px;
  }
}
>>>>>>> 0618f01408ec03809c450b68336ce8eccee9970c
