<<<<<<< HEAD
.footer {
    width: 100%;
    background-color: black;
}

.footer-img {
    color: white;
}

.footer-text {
    font-size: 24px;
=======
.footer {
    width: 100%;
    background-color: black;
}

.footer-img {
    color: white;
}

.footer-text {
    font-size: 24px;
>>>>>>> 0618f01408ec03809c450b68336ce8eccee9970c
}